
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  
  <div class="container" > 
    <a class="navbar-brand" href="#">e-Com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse float-end" id="navbarColor02" [ngSwitch]="menuType">
  
    <form class="d-flex" style="margin-left:35px;margin-right:355px;"  *ngSwitchCase="'default'">
        <input class="form-control me-2" (keyup)="SearchP($event)" type="search" placeholder="Search" aria-label="Search" style="width:550px;">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
  <div class="d-flex justify-content-between" *ngSwitchCase="'default'">
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" style="font-size: 16px;">Home</a>
        </li>
        <li class="nav-item" style="display: none;">
          <a class="nav-link" routerLink="About" style="font-size: 16px;">About</a>
        </li>
        <li class="nav-item" style="display: none;">
          <a class="nav-link" routerLink="Contact" style="font-size: 16px;">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Login" style="font-size: 16px;">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="seller-auth" style="font-size: 16px;">Seller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Cart" style="font-size: 16px;">Cart(0)</a>
        </li>          
        
        
      </ul>
  
  </div>
          <div class="d-flex justify-content-between" *ngSwitchCase="'Seller'" style="margin-left: 800px;float: right;">
              <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="home" style="font-size: 16px;cursor: pointer;">Seller Home</a>
                  </li>                  
                  <li class="nav-item">
                    <a class="nav-link" routerLink="Cart" style="font-size: 16px;cursor: pointer;">Cart(0)</a>
                  </li>          
                  <li class="nav-item">
                    <a class="nav-link" routerLink="seller-add-product" style="font-size: 16px;cursor: pointer;">Add Product</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="SignOut()" style="font-size: 16px;cursor: pointer;">Log Out</a>
                  </li>
                </ul>
          </div>

  
    </div>
  </div> <!-- End Container-->

  

</nav>

<!--
<div class="containet-flud bg-primary">
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">e-Com</a>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <form class="d-flex">
        <input type="text" placeholder="Search" width="300px;" class="form-control me-2" autocomplete="off" style="
    margin-left: 60px;  width: 500px;">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>

      <div class="collapse navbar-collapse navbar-right text-dark" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="" style="font-size: 18px;">Home</a>
          </li>
          <li class="nav-item" style="display: none;">
            <a class="nav-link" routerLink="About" style="font-size: 18px;">About</a>
          </li>
          <li class="nav-item" style="display: none;">
            <a class="nav-link" routerLink="Contact" style="font-size: 18px;">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Login" style="font-size: 18px;">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="seller-auth" style="font-size: 18px;">Seller</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Cart" style="font-size: 18px;">Cart(0)</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" routerLink="seller-add-product" style="font-size: 18px;cursor: pointer;">Add Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="SignOut()" style="font-size: 18px;cursor: pointer;">Log Out</a>
          </li>
        </ul>
      </div>

    </nav>
  </div>
</div>

-->