<section style="background-color: #eee;">
    <div class="container py-5">

      <div class="row justify-content-center mb-3" *ngIf="productData">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-6 col-xl-6 mb-4 mb-lg-0">
                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                        <a routerLink="/details/{{productData.id}}">
                                <img src="{{productData.productImage}}"
                                    class="w-100" height="350px" />
                                </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>{{productData.productName}}</h5>
                
                  <div class="mb-2 text-muted" style="font-size: 18px;">
                    <p>
                        Color : <span [style.backgroundColor]="productData.productColor" class="product-color" style="width: 40px !important;
                        height: 40px !important;">&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </p>
                        <p>Category : {{productData.productCategory}}  </p>
                  </div>
                  <p class="text-truncate mb-4 mb-md-0">
                    Description : {{productData.productDescription}}
                  </p>
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">{{productData.productPrice | currency : 'INR'}}</h4>
                    <span class="text-danger"><s>{{productData.productPrice | currency:'INR'}}</s></span>
                  </div>
                  
                  <h6 class="text-success">Free shipping</h6>
                  
                  <div class="d-flex flex-row">
                    <button type="button" class="btn btn-primary flex-fill me-1" data-mdb-ripple-color="dark">
                      Add to Cart
                    </button>
                    <button type="button" class="btn btn-danger flex-fill ms-1">Buy now</button>
                  </div>

                  <div class="col-md-6 col-lg-6 col-xl-6 d-flex mt-3">
                    <span style="padding:0 10px;font-size: 20px ;">Quantity </span>
                    <button class="form-button" (click)="handleQty('min')">-</button>
                        <input id="form1" min="0" name="quantity"  value="{{productQuntity}}" type="number"
                      class="form-control form-control-sm" disabled  />

                    <button class="form-button" (click)="handleQty('plus')"> + </button>
                  </div>

                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
                
    </div>
  </section>