<section style="background-color: #eee;">
    <div class="container py-5">

      <div class="row justify-content-center mb-3" *ngFor="let item of searchResult">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                        <a routerLink="/details/{{item.id}}">
                                <img src="{{item.productImage}}"
                                    class="w-100" height="150px" />
                                </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>{{item.productName}}</h5>
                
                  <div class="mb-2 text-muted" style="font-size: 18px;">
                    <p>
                     Color : {{item.productColor}} </p>
                        <p>Category : {{item.productCategory}}  </p>
                  </div>
                  <p class="text-truncate mb-4 mb-md-0">
                    Description : {{item.productDescription}}
                  </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">{{item.productPrice | currency : 'INR'}}</h4>
                    <span class="text-danger"><s>{{item.productPrice | currency:'INR'}}</s></span>
                  </div>
                  <h6 class="text-success">Free shipping</h6>
                  <div class="d-flex flex-column mt-4">
                    <button class="btn btn-primary btn-sm" type="button">Details</button>
                    <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                      Add to wishlist
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
            
    </div>
  </section>